In [98]:
import pandas as pd
import urllib.request as req
from bs4 import BeautifulSoup

In [2]:
url="https://ncv.kdca.go.kr/mainStatus.es?mid=a11702000000"
res=req.urlopen(url)
soup=BeautifulSoup(res,'html.parser')

In [130]:
numlist=soup.select('#content > div.data_table.tbl_scrl_mini > table > tbody > tr > td.ta_r')
citylist=soup.select('#content > div > table > tbody > tr > th')
# cityList=["용산구","부산진구","달서구","강화군","광주시","유성구","울주군","세종시","이천시","평창군","괴산군","공주시","전주시","보성군","의성군","의령군","제주시"]
lat=[37.530334, 35.160301, 35.825520,37.452734,35.141265,36.331327,35.527689,36.571867,37.408857,37.755049,36.764084, 36.496158, 35.723509, 34.792699, 36.371366,35.299341, 33.478127]
lng=[126.979217, 129.046013, 128.577804, 126.695070, 126.831830,127.396008,129.296607, 127.280291, 127.114676,128.293353,127.750552,126.909176,127.112913,126.878555, 128.778196,128.339668,126.525935]

accumulate=[]
accumnum=[]
for i in range(len(numlist)-1):
    if (1+4*i) >len(numlist):
        break
    else:
        accum=numlist[1+4*i].text
        city=citylist[4+i].text
        accumnum.append([city,lat[i],lng[i],accum])
print(accumnum)

[['서울', 37.530334, 126.979217, '3,519,568'], ['부산', 35.160301, 129.046013, '1,302,530'], ['대구', 35.82552, 128.577804, '812,726'], ['인천', 37.452734, 126.69507, '986,146'], ['광주', 35.141265, 126.83183, '521,619'], ['대전', 36.331327, 127.396008, '502,971'], ['울산', 35.527689, 129.296607, '377,491'], ['세종', 36.571867, 127.280291, '102,734'], ['경기', 37.408857, 127.114676, '4,433,216'], ['강원', 37.755049, 128.293353, '648,771'], ['충북', 36.764084, 127.750552, '616,685'], ['충남', 36.496158, 126.909176, '819,495'], ['전북', 35.723509, 127.112913, '764,691'], ['전남', 34.792699, 126.878555, '836,345'], ['경북', 36.371366, 128.778196, '1,037,553'], ['경남', 35.299341, 128.339668, '1,205,614'], ['제주', 33.478127, 126.525935, '241,546']]

In [131]:
df=pd.DataFrame(accumnum)
df.columns=['구분','위도','경도','누적합계']
df

    구분         위도          경도       누적합계
0   서울  37.530334  126.979217  3,519,568
1   부산  35.160301  129.046013  1,302,530
2   대구  35.825520  128.577804    812,726
3   인천  37.452734  126.695070    986,146
4   광주  35.141265  126.831830    521,619
5   대전  36.331327  127.396008    502,971
6   울산  35.527689  129.296607    377,491
7   세종  36.571867  127.280291    102,734
8   경기  37.408857  127.114676  4,433,216
9   강원  37.755049  128.293353    648,771
10  충북  36.764084  127.750552    616,685
11  충남  36.496158  126.909176    819,495
12  전북  35.723509  127.112913    764,691
13  전남  34.792699  126.878555    836,345
14  경북  36.371366  128.778196  1,037,553
15  경남  35.299341  128.339668  1,205,614
16  제주  33.478127  126.525935    241,546

In [132]:
df.to_excel('sKorea_vaccined.xlsx',index=False)

In [134]:
whereurl='https://kor.timegenie.com/latitude_longitude/country/kr'
where=req.urlopen(whereurl)
whereSoup=BeautifulSoup(where,'html.parser')

In [147]:
lngg=whereSoup.select('body > div > div.content > div > div > span')[2].string
lonn=whereSoup.select('body > div > div.content > div > div > h5')[2].string
print(lngg,lonn)

126.97806 37.56667

In [ ]:
서울 : 용산구 
부산 : 부산진구
대구 : 달서구
인천 : 서구, 강화군
광주 : 광주시
대전 : 중구, 유성구, 대덕구
울산 : 중구, 울주군
세종 : 세종시
경기 : 이천시, 양평군
강원 : 평창군
충북 : 괴산군
충남 : 공주시
전북 : 전주시
전남 : 보성군
경북 : 의성군
경남 : 의령군
제주 : 제주시
(1, 1, 180, 2)

In [ ]:
# 압축/ 골라낸 json 지도파일을 이용하여 보다 정확하게 위경도 설정할 것.

In [ ]:
# 위경도 골라내는 작업하던 것 , 압축을 한 파일을 이용한

import re
sKorea_geo=json.load(open('./skorea-geo.json'))
for i in range(len(sKorea_geo['features'])):
# ll=sKorea_geo['features'][0]['geometry']['coordinates'][0][0]
    n=sKorea_geo['features'][i]['properties']['name']
    print(n)

# for i in range(len(sKorea_geo['features'])): # 250
#     cityName=sKorea_geo['features'][i]['properties']['name']
#     print(cityName)
# #     if cityName==sKoreaviccineData['구분']:
# #         print(cityName)

# len(sKorea_geo['features']) # 17개의 구

In [ ]:
# 한국 전체 지도 이용한..
a=folium.Map(
    location=[37.34, 126.59],
            )
folium.GeoJson(
    sKorea_geo,
#     style_function=myFunction
).add_to(a)
a

In [1]:
globalData=pd.read_csv('./data.csv') # 전체 데이터 7월11일까지있음..
dates=[]
for i in globalData.index:
    location=globalData.loc[i,'location'] # 국가 이름
    fullDate=globalData.loc[i,'date']
    fullVaccined=globalData.loc[i,'people_vaccinated']
    dates.append(fullDate)
    fullData.append([location,fullDate,fullVaccined])

# a=globalData.groupby(globalData['location']).max(globalData['people_vaccinated'])
a=globalData.groupby(globalData['location']).max(globalData['people_vaccinated'])
a
# res=set(dates)
# res
# national=globalData['location']
# nat=list(set(national))
# nat.sort()
# # if globalData['location']==nat[1]:
# #     print(fullData.index(nat[1]))
# for i in fullData.index:
#     fullData[i].index(nat[1])

NameError: name 'pd' is not defined

In [2]:
globalData=pd.read_csv('./data.csv') # 전체 데이터 7월11일까지있음..
globalData.columns
# national=globalData['location']
# nat=list(set(national))
# nat.sort() # nat의 수가 너무 많아서 전부를 다하는건 어려울듯 231개인가
# fullData=[]
# natData=[]
# afgDate=[]
# 마지막 날짜 배열로 알아내기?
# for i in globalData.index:
#     location=globalData.loc[i,'location'] # 국가 이름
#     fullDate=globalData.loc[i,'date']
#     fullVaccined=globalData.loc[i,'people_vaccinated']
#     fullData.append([location,fullDate,fullVaccined])

# a=globalData.groupby(['location'])['people_vaccinated']

# globalData['location']

#     if fullData[i][0]==nat[1] :
#         afgDate=fullData[i][1]
#     elif fullData[i][0]==nat[2] :
#         afgDate=fullData[i][1]

NameError: name 'pd' is not defined